name: CI
on: push
jobs:
  build:
    permissions:
      contents: read
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Benchmark
      run: dotnet run --project tools\Parquet.FSharp.Benchmarks --configuration Release
