name: CI
on: push
jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Restore
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release /p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test --no-build --configuration Release
    # - name: Benchmark
    #   run: dotnet run --project tools\Parquet.FSharp.Benchmarks --configuration Release
    - name: Create packages artifact
      uses: actions/upload-artifact@v6
      with:
        name: packages
        path: |
          src\Parquet.FSharp\bin\Release\Parquet.FSharp.*.nupkg
          src\Parquet.FSharp\bin\Release\Parquet.FSharp.*.snupkg
  publish:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: windows-latest
    permissions:
      id-token: write
    steps:
    - name: NuGet login
      uses: NuGet/login@v1
      id: nuget-login
      with:
        user: ${{ secrets.NUGET_USERNAME }}
    - name: Get packages artifact
      uses: actions/download-artifact@v7
      with:
        name: packages
    - name: Push packages
      run: |
        dotnet nuget push packages\Parquet.FSharp.${{ github.ref_name }}.nupkg `
          --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} `
          --source https://api.nuget.org/v3/index.json
          --skip-duplicate
