name: CI
on: push
jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
    - name: Test
      run: dotnet test --no-build --configuration Release
    - name: Benchmark
      run: dotnet run --project tools\Parquet.FSharp.Benchmarks --configuration Release
  publish:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: windows-latest
    permissions:
      id-token: write
    steps:
    - name: NuGet login
      uses: NuGet/login@v1
      id: nuget-login
      with:
        user: ${{ secrets.NUGET_USERNAME }}
    - name: Publish
      run: |
        dotnet nuget push src\Parquet.FSharp\bin\Release\Parquet.FSharp.${{ github.ref_name }}.nupkg `
          --api-key ${{ steps.nuget-login.outputs.NUGET_API_KEY }} `
          --source https://api.nuget.org/v3/index.json
